.Timer .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 5;
    justify-items: center;
}

.Timer .display-timer {
    display: flex;
    flex-direction: row;
    font-size: 50px;
}

.Timer .column {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.Timer .inputs {
    display: flex;
    flex-direction: row;
}

.Timer input {
    font-size: 65px;
}

.Timer .center {
}

.Timer .buttons {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.Timer .inline {

}

.Timer .time-buttons {
    width: 84px;
    height: 81px;
    border-radius: 134px;
    font-size: 42px;
    padding-top: 12px;
}

.Timer .titles {
}

.Timer .active {
    background: #00AAEF;
    border-radius: 34px;
    padding: 14px;
    color: white;
}

.Timer .titles, 
.Timer .active {
    font-size: 24px;
}

.Timer span a {
     color: black;
}