.Timer {
    margin-top: 50px;
}

.Timer .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 0.5fr 0.5fr 0fr 1.5fr 1fr;
    justify-items: center;
}

.Timer .display-timer {
    display: flex;
    flex-direction: row;
    font-size: 50px;
}

.Timer .column {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.Timer .inputs {
    display: flex;
    flex-direction: row;
}

.Timer input {
    font-size: 50px;
}

.Timer .buttons {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.Timer .time-buttons {
    width: 84px;
    height: 81px;
    border-radius: 134px;
    font-size: 42px;
    padding-top: 12px;
}

.Timer .active {
    background: #00AAEF;
    border-radius: 34px;
    padding: 14px;
    color: white;
}

.Timer .titles {
    display: flex;
    align-items: center;
    width: 220px;
    justify-content: space-between;
}

.Timer .titles, 
.Timer .active {
    font-size: 24px;
}

.Timer span a {
     color: black;
}

@media (min-width: 600px) {
    .Timer {
        margin-top: 0;
    }
}