.LoginLocal {
    color: #fff;
    width: var(--login-button-width);
    font-size: var(--login-button-font-size);
    padding: var(--login-button-padding);
    height: var(--login-button-height);
    margin: 0;
}