.Stopwatch {
    display: grid;
    justify-items: center;
    height: 350px;
}

.Stopwatch .time-buttons {
    width: 84px;
    height: 81px;
    border-radius: 134px;
    font-size: 32px;
    padding-top: 12px;
}

.buttons-spaced {
    display: flex;
    justify-content: space-between;
    width: 190px;
}

.Stopwatch .active {
    background: #00AAEF;
    border-radius: 34px;
    padding: 12px;
    color: white;
}

.Stopwatch .titles {
    font-size: 24px;
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: space-between;
}

.Stopwatch .display-timer {
    font-size: 40px;
}

.Stopwatch span a {
     color: black;
}

@media (min-width: 600px) {
    .Stopwatch {
        margin-top: 0;
    }
}