.item .detailsName {
    padding: 0;
}

.item .detailsReps {
    color: #126195;
    font-weight: bolder;
}

.ExercisesList .containerBottom .item {
    background-color: rgb(243, 240, 240);
    opacity: 0.6;
    font-weight: bold;
}

.ExercisesList .item .detailsName {
    padding: 0;
    font-weight: bold;
}
