.Popup {
    background-color: rgba(0, 0, 0, 0.837);
    width: 100vw;
    height: 100vmax;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.Popup .popup-box {
    border-radius: 5%;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 60%;
    background-color: white;
    border: 2px var(--kodfit-blue) solid;
}

.Popup .header {
    margin: 20px;
}

.Popup .centre-text {
    width: 70%;
    margin: 0 auto;
}