.Popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.837);
}

.Popup .popup-box {
    border-radius: 5%;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 60%;
    background-color: white;
    border: 2px var(--kodfit-blue) solid;    
}

.Popup .centre-text {
    width: 70%;
    margin: 0 auto;
}