.WorkoutCurrent .containerOne {
    display: grid;
    margin: 20px;
}

.WorkoutCurrent .workoutAction {
    background-color: #ddd;
    border: 1px var(--kodfit-blue) solid;
    border-radius: 5px;
    height: 54vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WorkoutCurrent .workout-name {
    margin-bottom: 50px;
    text-align: center;
}

@media (min-width: 600px) {
    .WorkoutCurrent {
        margin-top: -40px;
        width: 60%;
    }

    .WorkoutCurrent .containerOne {
        grid-template-columns: 2fr 1fr;
    }

    .containerOne-content:last-child {
        align-self: center;
    }
}