.PopupButton {
    position: absolute;
    top: -80px;
    right: 0;
    /* Desktop :
    position: fixed;
    top: 20px;
    right: 20px;
    */
}

.bouncing {
    animation-name: tada;
    animation-duration: 1s; 
    animation-delay: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-fill-mode: none;
    animation-direction: normal;
}

@keyframes tada {
    0% {
        transform: scale3d(1, 1, 1);
    }

    10% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    50% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    60% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    70% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}
