.Profile {
    text-align: center;
    border: 1px indianred dotted;
}

.Profile .update-stats {
    position: absolute;
    top: 0;
}

.Profile .stats {
    /* text-align: left; */
}

.Profile.faded {
    /* filter: brightness(0.5);   */
    transition: 1s ease;
}