.Profile {
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}

@media (min-width: 600px) {
    .Profile .BarChartContainer {
        width: 70%;
        margin: auto;
    }
}
