.Login {
    --login-button-width: 200px;
    --login-button-font-size: 14px;
    --login-button-padding: 0;
    --login-button-height: 30px;
}

.Login .subtext {
    margin: 0 auto;
}

.Login .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.Login .logoBox {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.Login .logo {
    width: 150px;
    margin: 0;
}

.Login .container {
    display: grid;
    position: relative;
}

.Login .error-message {
    font-size: 14px;
    text-align: center;
    width: 300px;
}

@media (min-width: 600px) {
    .Login .logoBox {
        margin: 0px;
    }

    .Login .container {
        padding: 20px;
    }
}
