.Login input {
    padding: 10px;
    border: 0;
    border-bottom: 1px solid;
}

.Login .logoBox {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.Login .logo {
    width: 150px;
}

.Login .container {
    display: grid;
}

.Login .inputBox-content {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.Login .LoginButtons > * {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Play', sans-serif;
}

@media (min-width: 600px) {
    .Login .logoBox {
        margin: 0px;
    }

    .Login .container {
        padding: 20px;
    }
}