.ExitButton {
    border-radius: 50%;
    border: 3px solid var(--kodfit-blue);
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
}

@media (min-width: 630px) {
    .ExitButton {
        top: 5px;
        right: 5px;
    }
}

@media (min-width: 800px) {
    .ExitButton {
        top: 20px;
        right: 20px;
    }
}
