.CalendarWorkoutSection {
    margin-bottom: 100px;
}

.CalendarWorkoutSection .button {
    width: 100px;
    margin: 0;
}

.CalendarWorkoutSection .title-and-button {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.calendarExerciseList .item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    box-shadow: 2px 2px 5px silver;
    margin-bottom: 8px;
    padding: 0;
    height: 48px;
}

@media (min-width: 600px) {
    .CalendarWorkoutSection .button {
        width: 180px;
    }
}
