.UserProfile .container-content:first-child {
    background-image: url('../../../common/images/profile-background-opacity-fixed.jpg');
    background-size: cover;
}

.UserProfile .profileBox-photo img {
    width: 180px;
    border-radius: 50%;
    margin-top: 2rem;
}

.UserProfile .PersonalInfo {
    padding: 1rem 0;
    display: flex;
}

.UserProfile .personalInfo-content {
    flex-basis: 1;
    display: grid;
    padding: 0 1rem;
    place-content: center;
}