.UserProfile {
    background-image: url("../../../common/images/profile-background-opacity-fixed.jpg");
    background-size: cover;
    height: 300px;
    width: 300px;
}


.Profile .user-image img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin-top: 2rem;
}

.Profile .profileBox-userInfo {
    margin-top: 1rem;
}

.Profile .PersonalInfo {
    padding: 1rem 0;
    display: flex;
}

.Profile .personalInfo-content {
    flex-basis: 1;
    display: grid;
    padding: 0 1rem;
    place-content: center;
}

.Profile .personalInfo-content > * {
    margin-top: 3px;
}