.Tracker .line-chart-title {
    text-align: center;
    margin: 0;
}

.Tracker .bar-chart-title {
    text-align: center;
    margin: 0;
}

@media (min-width: 600px) {
    .Tracker {
        margin-top: 0;
    }
}